.fooldal_maindiv {
    border-radius: 2rem;
    align-items: center;
    background-color: #F8F8F8;
    box-shadow: 0 0 25px rgba(102, 102, 102, 0.2);
    position: relative;
}

#fooldal header {
    background-color: #f1b43c;
    text-align: center;
}

/*to-do*/
.todo{
    display: grid;
}

/*Calendar*/
.calendar_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    display: flex;
    flex-direction: column;
    background-color: #ffffff00;
    border-radius: 2rem;
    padding: 20px;
}