.todo-grid{
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 10px;
    height: 100%;
}


.todo_taskadd {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    margin: 5px;
    padding: 20px;
    border-radius: 2rem;
    width: 100%;
    height: 85%;
}

.todo_taskadd h3 {
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

.todo_taskadd .todo_items {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
}

.todo_taskadd .todo_items input[type="text"] {
    appearance: none;
    flex: 1 1 auto;
    padding: 5px;
    border: 1px solid #00000000;
    background: #00000000;
    border-radius: 10px;
    font-size: 1rem;
    border-bottom: #686868 1px solid;
}

.todo_taskadd .todo_items input[type="text"]:focus {
    appearance: none;
    flex: 1 1 auto;
    padding: 5px;
    border: 1px solid #00000000;
    background: #00000000;
    border-radius: 10px;
    font-size: 1rem;
    border-bottom: #686868 1px solid;
}

.todo_taskadd .todo_items input[type="text"]::placeholder {
    color: #9b9b9b;
}

.todo_taskadd textarea {
    font-family: 'Courier New', Courier, monospace;
    resize: none;
    height: 50%;
    border-radius: 10px;
    border: 1px solid #686868;
    background: #ededed;
    border-bottom: #686868 1px solid;
    padding: 5px;
    font-size: 1rem;
    margin-top: 10px;
}

.todo_taskadd textarea::placeholder {
    color: #9b9b9b;
}

.todo_taskadd select {
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #686868;
    background: #ededed;
    font-size: 1rem;
    width: 100%;
}

.todo_taskadd .section_button {
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    display: grid;
    gap: 8px;
    margin-top: 10px;
    width: 100%;
}

.todo_taskadd button {
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: #F1B43C;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: .2s;
    font-weight: 600;
    margin: auto;
}

.todo_taskadd button:hover {
    background-color: #e0a92f;
    box-shadow: 0 0 8px #e0a92f77;
}

@media (max-width: 900px) {
    .todo .todo_taskadd {
        width: 45%;
    }
}

@media (max-width: 580px) {
    .todo {
        flex-direction: column;
        gap: 12px;
    }

    .todo .todo_taskadd {
        width: 100%;
    }
}